@model List<Tag>
<link rel="stylesheet" href="/css/HomeIndex.css">
<div class="container-fluid">
    <h1 class="text-center my-4 display-3 fw-bold" style="letter-spacing: .5rem;">
        Hayata Dair Herşey!
    </h1>
    <h4 class="text-center my-4 lexend" style="">FİKİRLERİNİZİ PAYLAŞTIĞINIZ SOHBET ETTİĞİNİZ BLOG SAYFASI</h4>
    <hr>
    <ul class="list-inline d-flex flex-wrap gap-2 justify-content-center">
        @foreach (var tag in Model)
        {
            <li class="list-inline-item">
                <a href="/posts/tag/@tag.Url" class="btn btn-sm p-1">@tag.Text</a>
            </li>
        }
    </ul>
    <hr>
</div>