@model List<Post>
<link rel="stylesheet" href="/css/NewPost.css">

<div class="d-flex align-items-center">
    <h5  class="m-0 px-2">Yeni Postlar</h5>
    <div class="ticker-wrap">
        <div class="ticker">
            <span class="item-collection-1">
                @foreach(var post in Model)
                {
                    <span class="item ">
                        <a class="btn btn-sm p-1" href="/posts/details/@post.Url">@post.Title</a>
                    </span>
                }
            </span>
            <span class="item-collection-2">
                @foreach(var post in Model)
                {
                    <span class="item">
                        <a class="btn btn-sm p-1" href="/posts/details/@post.Url">@post.Title</a>
                    </span>
                }
            </span>
        </div>
    </div>
</div>
