<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
        <div class="container">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                <i class="bi bi-code"></i>BlogApp
            </a>
            <ul class="navbar-nav ms-auto">
                @if(User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="" class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a href="/posts/list" class="nav-link">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Çıkış Yap</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/register" class="nav-link">Kayıt Ol</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        @RenderBody()
    </div>
    @RenderSection("Scripts",required:false)
</body>

</html>