@model PostsViewModel
<style>
    .effect{
    mix-blend-mode: luminosity;
    transition: mix-blend-mode 0.1s ease;
}
.effect:hover {
    cursor: pointer;
    mix-blend-mode: normal;
}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="bg-white p-4 pt-0">
            <vc:header></vc:header>
            <vc:new-posts></vc:new-posts>
            <div class="row pt-4">
                @foreach(var post in Model.Posts)
                {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card" style="box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.222); width: 100%;">
                        <div class="card-img-top effect" style="width: 100%; height: 20rem; overflow: hidden;">
                            <img src="~/uploads/@post.Image" alt="" style="width: 100%; height: 100%; object-fit: cover; object-position: top;">
                        </div>
                        <div class="card-body" >
                            <h5><a href="/posts/details/@post.Url" class="text-decoration-none;" style="color: rgb(18, 18, 18);font-weight: 600;">@post.Title</a></h5>
                            <p>@post.Content</p>
                            <div style="display: flex;align-items: center;">
                                    <img src="~/img/@post.User.Image" style="width: 4rem; height:3rem;border-radius: 50%;margin-right: 1rem;"/>
                                    <div style="display: flex; flex-direction: column;">
                                        <p style="margin:0px ">@post.User.Name</p>
                                        <p style="margin:0px;font-size: .8rem;color:rgb(127, 121, 121) ">@post.PublishedOn.ToString("dd MMMM yyyy")</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
            <hr class="my-3">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
    @*<div class="col-lg-2">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>*@
</div>