@model Kurs
<div>
    <p>
        @Model.KursBaslik Kursu Silmek İstiyor musunuz?
    <form action="" method="post">
        <input type="hidden" asp-for="@Model.KursId">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="/" class="btn btn-primary">No</a>
    </form>
    </p>
</div>