@model UserInfo
@{
ViewBag.Title = "Başvuru Özeti";
}
<main class="text-center">
    <h1 class="h4">Başvuru Özeti</h1>
    @if(Model.WillAttend == true)
    {
    <p>Teşekkürler, @Model.Name. Toplantıya sizinle birlikte @ViewBag.UserCount kişi katılıyor.</p>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="List">Katılımcıları Listele</a>
    }
    else
    {
    <p>@Model.Name, katılmadığından dolayı üzgünüz.</p>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Formu</a>
    }
</main>