@model Product

<div>
    <p>
        @Model.Name Do you want to delete the product named?
    <form action="" method="post">
        <input type="hidden" asp-for="@Model.ProductID">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="/" class="btn btn-primary">No</a>
    </form>
    </p>
</div>