@model LoginViewModel
<style>
    body{font-family: "Poppins", sans-serif;}
</style>
<div class="row">
    <div class="col-6" style="height: 42vw;overflow:hidden;">
        <img  src="~/img/Designer.jpeg" alt="" style="overflow:hidden;object-position: bottom:40rem;width:100%;height:auto;mix-blend-mode:luminosity;">
    </div>
    <div class="col-6">
        <div class="bg-white p-4">

            <h1 class="pb-2">Giriş Yap</h1>
            <p class="pb-2">İlgi çekici postları görmek ve yorum yapmak için giriş yap.</p>
            <form action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <button type="submit" class="btn btn-outline-dark">Giriş Yap</button>
            </form>
        </div>
    </div>
</div>